.o_sign_sign_item[placeholder="Business name"],
.o_sign_sign_item[placeholder="Date"],
.o_sign_sign_item[placeholder="Contact name"],
.o_sign_sign_item[placeholder="Phone"],
.o_sign_sign_item[placeholder="Email"],
.o_sign_sign_item[placeholder="Contact city"],
.o_sign_sign_item[placeholder="Contact state"],
.o_sign_sign_item[placeholder="Contact zip"],
.o_sign_sign_item[placeholder="Contact country"],
.o_sign_sign_item[placeholder="MM/DD/YYYY"],
textarea.o_sign_sign_item[placeholder="Contact address"]{
    font-size: 15px !important;
    padding-left: 5px;
}
.o_sign_sign_item_pdfview{
	padding: 3px 2px 3px 6px !important;
	font-size: 16px !important;
}