.mt20 {
    margin-top: 20px !important;
}
.mb35 {
    margin-bottom: 32px !important;
}
.mb40 {
    margin-bottom: 34px !important;
}
.mt70 {
    margin-top: 70px !important;
}
.red {
    border: 1px solid yellow;
}
.page > .container {
    padding-left: 0px;
    padding-right: 0px;
}
.logo {
    max-width: 350px;
    margin-left: 15px;
}
.heading-text {
    margin-left: 15px;
    font-size: 14px;
}
.sidelogo {
    max-width: 350px;
    margin-right: 15px;
}
.rotate {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.rotate div.text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.box_wrapper {
    position: relative;
}
.box_wrapper div.shadow:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 25%;
    width: 50%;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 8px 22px -5px rgba(0, 0, 0, 0.7);
}

.proposal {
    background-color: #ef4136;
    color: #FFFFFF;
    position: absolute;
    bottom: 31%;
    right: -95%;
    width: 193px;
    height: 54px;
    line-height: 23px;
}
.light-pink {
    background-color: #f8dbd8;
}
.red-arrow-img {
    margin-left: 18px;
    margin-top: -17px;
    z-index: 999;
}
.csi-table {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 13px;
}
.csi-table tr td:first-child {
    padding: 0px;
    text-align: right;
    width: 45%;
    border-top: none;
}
.csi-table tr td:last-child {
    padding: 0px 0px 0px 12px;
    text-align: left;
    width: 55%;
    border-top: none;
}
.csi-table.proposal-tbl tr td:first-child {
    width: 35%;
}
.csi-table.proposal-tbl tr td:last-child {
    width: 65%;
}
.csi-border-right {
    border-right: 1px solid #000;
}

.bladem {
    background-color: #8dc63f;
    color: #FFFFFF;
    position: absolute;
    bottom: 38%;
    right: -134%;
    width: 250px;
    height: 54px;
    line-height: 23px;
}
.green-arrow-img {
    margin-left: 19px;
    margin-top: -30px;
    z-index: 999;
}
.light-green {
    background-color: #e8f4d9;
}
.bladem-table {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 13px;
}
.bladem-table > tbody > tr > td {
    text-align: left;
    width: 100%;
    border-top: none;
    padding: 0px 0px 0px 30px;
}
.bladem-summary-table {
    font-size: 13px;
    background-color: #e8f4d9 !important;
}
.bladem-summary-table tr td:first-child {
    text-align: right;
    padding: 0px;
    width: 75%;
    border-top: none;
    font-size: 19px;
}
.bladem-summary-table tr td:last-child {
    padding: 0px 0px 0px 5px;
    text-align: left;
    width: 25%;
    border-top: none;
    font-size: 19px;
    font-weight: bold;
}
img.bladem-sideimg {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    clear: both;
}
.bladem-box {
    clear: both;
    background-color: #FFF;
    border: 2px solid #000;
    width: 230px;
    padding: 3px 10px;
    margin-left: auto;
    margin-right: auto;
}

.light-blue {
    background-color: #d5e6ed;
}
.displayspec {
    background-color: #2c82a4;
    color: #FFFFFF;
    position: absolute;
    bottom: 37%;
    right: -179%;
    width: 320px;
    height: 54px;
    line-height: 23px;
}
.blue-arrow-img {
    margin-left: 20px;
    margin-top: -15px;
    z-index: 999;
}

.light-grey {
    background-color: #f1f2f2;
}
.additionalitems {
    background-color: #a7a9ac;
    color: #FFFFFF;
    position: absolute;
    bottom: 21%;
    right: -51%;
    width: 120px;
    height: 54px;
    line-height: 23px;
}
.grey-arrow-img {
    margin-left: 19px;
    margin-top: -30px;
    z-index: 999;
}
.additional-items-table {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 13px;
}
.additional-items-table tr th {
    border-top: none;
    padding: 0px;
}
.additional-items-table tr th:first-child {
    padding-right: 20px;
}
.additional-items-table tr td:first-child {
    padding: 0px;
    text-align: right;
    width: 15%;
    border-top: none;
}
.additional-items-table tr td:nth-of-type(2),
.additional-items-table tr td:nth-of-type(3),
.additional-items-table tr td:last-child {
    text-align: left;
    border-top: none;
}
.additional-items-table tr td:nth-of-type(2) {
    padding: 0px 0px 0px 12px;
    width: 73%;
}
.additional-items-table tr td:nth-of-type(3) {
    padding: 0px;
    width: 6%;
}
.additional-items-table tr td:last-child {
    padding: 0px;
    width: 6%;
}

.totalamount {
    background-color: #a7a9ac;
    color: #FFFFFF;
    position: absolute;
    bottom: -10px;
    right: -8px;
    width: 55px;
    height: 77px;
    line-height: 87px;
}
.grey-amount-arrow-img {
    margin-left: 19px;
    margin-top: -32px;
    z-index: 999;
}
.totalamount .text {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
}
.total-amount-table {
    font-size: 21px;
}
.total-amount-table td:first-child {
    width: 10%;
}
.total-amount-table td:last-child {
    width: 90%;
}
.total-amount-table td {
    border-top: none;
    letter-spacing: -1px;
}
/*.total-amount-table span.label {
    padding-left: 10px;
}*/
.total-amount-table.last span.label {
    padding-left: 10px;
}
.total-amount-table.last td:first-child {
    width: 11%;
}
.total-amount-table.last td:last-child {
    width: 89%;
}
.total-amount-table.last {
    letter-spacing: -1px;
    font-size: 18px;
}
.word-f {
    padding-left: 22%;
    line-height: 21px;
    font-size:17px;
}
.word-s {
    padding-left: 22%;
    padding-right: 33%;
    line-height: 21px;
    font-size:17px;
}
.subscription {
    padding-left: 13.5%;
    line-height: 21px;
    padding-top: 10px;
    font-size:18px;
}
.subscription-note {
    padding-left: 13.5%;
    padding-right: 33%;
    line-height: 21px;
    font-size:17px;
    margin-bottom: 10px;
}

.no-break {
    page-break-inside: avoid;
}
.page-break-before {
    page-break-before: always;
}

.logo-size-text {
    padding-right: 20px;
    font-size: 14px;
}

.terms-condition {
    padding-left: 18px;
    padding-right: 20px;
}
.terms-heading {
    margin-bottom: 0px !important;
    font-size: 11px;
    text-transform: uppercase;
}
.terms-condition p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11px;
}
.sign-row > div {
    font-size: 16px;
    margin-top: 10px;
}
.sign-row > div i {
    font-size: 18px;
}
.sign-row span:first-of-type {
    margin-left: 40px;
}
.sign-row .underline {
    width: 150px;
    border-bottom: 1px solid #000;
    display: inline-block;
}
.pl15 {
    padding-left: 15px;
}
.pl25 {
    padding-left: 25px;
}
.sign-row p {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.promo-logo {
    width: 100%;
}
.promo-3a {
    background-image: url('../img/3_1.png');
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.promo-3a p {
    line-height: 20px;
}
.mt65 {
    margin-top: 65px;
}
.mb33 {
    margin-bottom: 33px;
}
.month-cost {
    padding-left: 35px;
    font-size: 19px;
}
.month-cost .bladem-box {
    width: 360px;
    margin-top: -4px;
}

.promo-3b {
    background-image: url('../img/3_2.png');
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
.promo-3b p {
    line-height: 23px;
}
.promo-3b .mt65 {
    margin-top: 65px;
}
.promo-3b .pl35 {
    padding-left: 35px;
}
.promo-3b .w65 {
    width: 80%;
}
.promo-3b .w96 {
    width: 96%;
}
.promo-3b .mb14 {
    margin-bottom: 14px;
}

.promo-3c {
    background-image: url('../img/3_3.png');
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 12px;
}
.promo-3c p {
    line-height: 21px;
}
.promo-3c .mt77 {
    margin-top: 77px;
}

.promo-3d p {
    padding-left: 35px;
    width: 96%;
    line-height: 21px;
    margin-bottom: 12px;
}

.promo-a {
    background-image: url('../img/p3-1.png');
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.mt48 {
    margin-top: 48px;
}
.pl230 {
    padding-left: 230px;
}
.pr20 {
    padding-right: 20px;
}
.promo-b {
    background-image: url('../img/p3-2.png');
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.w100 {
    width: 100%;
}
.pl35 {
    padding-left: 35px;
}
.pl220 {
    /*padding-left: 220px;*/
    padding-left: 20%;
}
.mt60 {
    margin-top: 60px;
}
.mb60 {
    margin-bottom: 33px;
}
.promo-c {
    background-image: url('../img/p3-6.png');
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.mr3 {
    margin-right: 3px;
}
.promo-4a {
    background-image: url('../img/4_1.png');
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.promo-4a p {
    line-height: 20px;
}